<%- include('./partials/header') %>
<body>
    <%- include('./partials/navbar') %>
    <div class="container">
        <div class="card" id="formulario-cadastrar_tarefa">
            <div class="card-header">
                <h3>Nova Tarefa</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvartarefa">
                    <label>Nome</label>
                    <input type="text" name="nome" placeholder="Nome" class="form-control">
                    <br><label>Descrição</label>
                    <textarea name="descricao"  placeholder="Descrição da tarefa" class="form-control"></textarea>
                    <br>
                    <label>Prioridade</label>
                    <input type="text" name="prioridade" placeholder="Prioridade ex: Alta, Média, Baixa" class="form-control"><br>
                    <button class="btn btn-outline-info">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>  
</body>
<%- include ('./partials/footer') %>